<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit) ="logIn(f)" #f ="ngForm" >
        <div id="user-data">
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email"  name ="email" class="form-control" required email ngModel>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name ="password" class="form-control" required ngModel>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <br>
</div>

